.search-area{
  color: #6D6D6D;
  width: 200px;
  padding-left: 5px;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #CCC;
  margin-top: 05px;
}

.search-btn{
  background-color: transparent;
  border: none;
  font-size: 15px;
  margin-left: -30px;
}

.search-btn:hover{
  color: #CC2C2F;
}