.nav-right a{
	font-size: 13px;
	color: gray;
}

.navbar a:hover{
	color: #D20000;
	text-decoration: none;
}

.card:hover{
	opacity: .7;
}

.btn-arrivals:hover,.btn-rated:hover{
	background-color: #FF8000; 
	border-color: #FF8000;
	text-decoration: none;
}

.figure:hover{
	transform:scale(1,1.1);
	transition:all .4s ease;
}

#fb{
	color: white;
	margin-left:530px;
}

#youtube, #googleplus{
	color: red;
}

#twitter{
	color: #40E2D4;
}

#instagram{
	color: #E24094;
}

#fb:hover, #youtube:hover, #twitter:hover, #googleplus:hover, #instagram:hover{
	color: #fff;
}

.footer{
	color: #D3D3D3;
	line-height: 30px; 
	font-size: 14px;
}

.footer a{
	color: #D3D3D3;
	
}

